spring:
  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:5173
              - http://127.0.0.1:5173
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      httpclient:
        wiretap: true
      httpserver:
        wiretap: true
      default-filters:
        - PreserveHostHeader
      discovery:
        locator:
          enabled: true
      routes:
        - id: assessment
          uri: lb://REPO-ASSESSMENT
          predicates:
            - Path=${config.api-prefix}/assessment/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: auth
          uri: lb://REPO-AUTH
          predicates:
            - Path=${config.api-prefix}/auth/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: identity
          uri: lb://REPO-IDENTITY
          predicates:
            - Path=${config.api-prefix}/id/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: realtime
          uri: lb:ws://REPO-REALTIME
          predicates:
            - Path=${config.ws-prefix}/realtime/**
            - Header=Upgrade, websocket
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: notification
          uri: lb://REPO-NOTIFICATION
          predicates:
            - Path=${config.api-prefix}/notification/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: storage
          uri: lb://REPO-STORAGE
          predicates:
            - Path=${config.api-prefix}/storage/**
          filters:
            - StripPrefix=${config.strip-prefix}
  main:
    web-application-type: reactive
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

config:
  api-prefix: /api
  ws-prefix: /ws
  strip-prefix: 2

logging:
  level:
    org.springframework:
      cloud.gateway: INFO
      web.reactive:
        socket:
          server: DEBUG
      messaging: DEBUG
