spring:
  application:
    name: api-gateway
  autoconfigure:
    exclude:
      # Database Off
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      # Spring security Off
      - org.springframework.boot.autoconfigure.security.reactive.ReactiveSecurityAutoConfiguration
  data:
    redis:
      host: localhost
      port: 6379
      password: redis_password
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      discovery:
        locator:
          enabled: true
      routes:
        - id: identity
          uri: lb://REPO-IDENTITY-API
          predicates:
            - Path=${config.api-prefix}/id/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: realtime
          uri: lb://REPO-REALTIME
          predicates:
            - Path=/ws/**
  main:
    web-application-type: reactive
config:
  api-prefix: /api
  ws-prefix: /ws
  strip-prefix: 2

server:
  port: 8080

security:
  jwt:
    secret: GF+Ew62Dj5dd9w23GrL18RWTnVRgF6fx7CiNkDdFa41u2eOMTsLdKFIY1uM8yquRqKuEeo1i/VQW3+UBR3D9TQ==
    required: true
    permit-paths:
      # Identity Service
      - /api/id/auth/**
      # Another Service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.cloud.gateway: INFO

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
