spring:
  application:
    name: api-gateway
#  autoconfigure:
#    exclude:
#      # Database Off
#      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
#      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
#      # Spring security Off
#      - org.springframework.boot.autoconfigure.security.reactive.ReactiveSecurityAutoConfiguration
  data:
    redis:
      host: localhost
      port: 6379
      password: redis_password
  cloud:
    gateway:
      httpclient:
        wiretap: true
      httpserver:
        wiretap: true
      default-filters:
        - PreserveHostHeader
      discovery:
        locator:
          enabled: true
      routes:
        - id: identity
          uri: lb://REPO-IDENTITY-API
          predicates:
            - Path=${config.api-prefix}/id/**
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: realtime
          uri: lb:ws://REPO-REALTIME
          predicates:
            - Path=${config.ws-prefix}/realtime/**
            - Header=Upgrade, websocket
          filters:
            - StripPrefix=${config.strip-prefix}
        - id: notification
          uri: lb://REPO-NOTIFICATION
          predicates:
            - Path=${config.api-prefix}/notification/**
          filters:
            - StripPrefix=${config.strip-prefix}
  main:
    web-application-type: reactive

config:
  api-prefix: /api
  ws-prefix: /ws
  strip-prefix: 2

server:
  port: 8080

logging:
  level:
    org.springframework:
      cloud.gateway: INFO
      web.reactive:
        socket:
          server: DEBUG
      messaging: DEBUG
    web.reactive.socket: DEBUG

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka